<div class="exception-body notfound-page">

    <div class="exception-top">
        <img src="assets/cocoa/404_Page_not_Found.png" alt="cocoad-layout" />
    </div>

    <div class="exception-bottom">
        <div class="exception-wrapper">
            <span class="exception-summary">Page Not Found</span>
            <span class="exception-detail">The resource you are looking for does not exist.</span>
            <button pButton pRipple [routerLink]="['/']" label="Dashboard" icon="pi pi-home"></button>
            <a [routerLink]="['/']" class="logo">
                <img src="assets/cocoa/CoCoaD_logo.png" alt="cocoad-layout" class="logo-icon" />
            </a>
            <!-- <span class="exception-footer">CoCoaD</span> -->
        </div>
    </div>
</div>
