<div class="layout-dashboard">

    <app-humidity-mini-chart-sensor [selectionViewType]='selectionViewType'
        [mockupTempSensorsData]='mockupTempSensorsData' [weekDay]='weekDay' [chartBGColor]='chartBGColor'
        [chartBorderColor]='chartBorderColor' [sensorHumidityDataList]='sensorHumidityDataList'>
    </app-humidity-mini-chart-sensor>

    <app-humidity-chart-sensor [selectionViewType]='selectionViewType' [mockupZoneData]='mockupZoneData'
        [mockupTempSensorsData]='mockupTempSensorsData' [mockupHumiditySensorsData]='mockupHumiditySensorsData'
        [mockupCO2SensorsData]='mockupCO2SensorsData' [dateLists]='dateLists' [weekDay]='weekDay'
        [chartBGColor]='chartBGColor' [chartBorderColor]='chartBorderColor'
        [sensorHumidityDataList]='sensorHumidityDataList'>
    </app-humidity-chart-sensor>

</div>
