<div class="layout-dashboard">
    <!-- <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-12">
            <div class="card">
                <h6>Google Map</h6>
                <p-gmap [options]="mapOptions" [overlays]="mapOverlays" [style]="{'width':'100%','height':'320px'}">
                </p-gmap>
            </div>
        </div>
    </div> -->

    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-6">
            <div class="card">
                <h6>3D Model View</h6>
                <!-- <model-viewer src="assets/cocoa/Room_01_gltf/room_01.gltf" loading="lazy" camera-controls>
                </model-viewer> -->
                <br>
                <!-- <model-viewer src="assets/cocoa/gltf/_test.gltf" loading="lazy" camera-controls>
                </model-viewer> -->
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-xl-6">
            <app-mockup-mini-chart></app-mockup-mini-chart>
        </div>
    </div>




    <!-- <app-temp-mini-chart-sensor [componentType]='componentType' [selectionViewType]='selectionViewType'
        [mockupTempSensorsData]='mockupTempSensorsData' [weekDay]='weekDay' [chartBGColor]='chartBGColor'
        [chartBorderColor]='chartBorderColor' [sensorTempDataList]='sensorTempDataList'>
    </app-temp-mini-chart-sensor>

    <app-humidity-mini-chart-sensor [componentType]='componentType' [selectionViewType]='selectionViewType'
        [mockupTempSensorsData]='mockupTempSensorsData' [weekDay]='weekDay' [chartBGColor]='chartBGColor'
        [chartBorderColor]='chartBorderColor' [sensorHumidityDataList]='sensorHumidityDataList'>
    </app-humidity-mini-chart-sensor>

    <app-co2-mini-chart-sensor [componentType]='componentType' [selectionViewType]='selectionViewType'
        [mockupTempSensorsData]='mockupTempSensorsData' [weekDay]='weekDay' [chartBGColor]='chartBGColor'
        [chartBorderColor]='chartBorderColor' [sensorCO2DataList]='sensorCO2DataList'></app-co2-mini-chart-sensor>

    <app-temp-chart-sensor [componentType]='componentType' [selectionViewType]='selectionViewType'
        [mockupZoneData]='mockupZoneData' [mockupTempSensorsData]='mockupTempSensorsData'
        [mockupHumiditySensorsData]='mockupHumiditySensorsData' [mockupCO2SensorsData]='mockupCO2SensorsData'
        [dateLists]='dateLists' [weekDay]='weekDay' [chartBGColor]='chartBGColor' [chartBorderColor]='chartBorderColor'
        [sensorTempDataList]='sensorTempDataList'>
    </app-temp-chart-sensor>

    <app-humidity-chart-sensor [componentType]='componentType' [selectionViewType]='selectionViewType'
        [mockupZoneData]='mockupZoneData' [mockupTempSensorsData]='mockupTempSensorsData'
        [mockupHumiditySensorsData]='mockupHumiditySensorsData' [mockupCO2SensorsData]='mockupCO2SensorsData'
        [dateLists]='dateLists' [weekDay]='weekDay' [chartBGColor]='chartBGColor' [chartBorderColor]='chartBorderColor'
        [sensorHumidityDataList]='sensorHumidityDataList'>
    </app-humidity-chart-sensor>

    <app-co2-chart-sensor [componentType]='componentType' [selectionViewType]='selectionViewType'
        [mockupZoneData]='mockupZoneData' [mockupTempSensorsData]='mockupTempSensorsData'
        [mockupHumiditySensorsData]='mockupHumiditySensorsData' [mockupCO2SensorsData]='mockupCO2SensorsData'
        [dateLists]='dateLists' [weekDay]='weekDay' [chartBGColor]='chartBGColor' [chartBorderColor]='chartBorderColor'
        [sensorCO2DataList]='sensorCO2DataList'>
    </app-co2-chart-sensor> -->
</div>
