<div class="layout-dashboard">

    <div class="p-grid p-flex-row-reverse">
        <div class="p-col-12 p-md-7 p-xl-7">
            <div class="box">
                <div class="cc-layout-dashboard-header cc-p-text-right-left">
                    <button pButton pRipple type="button" label="MDB1"></button>
                    <button pButton pRipple type="button" disabled="true" label="MDB2"></button>
                    <button pButton pRipple type="button" disabled="true" label="MDB3"></button>
                    <button pButton pRipple type="button" disabled="true" label="MDB4"></button>
                    <button pButton pRipple type="button" disabled="true" label="MDB5"></button>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-5 p-xl-5">
            <div class="box">
                <div class="cc-content-section cc-introduction">
                    <div class="feature-intro">
                        <h1>MDB1</h1>
                        <p>Main Distribution Board Number 01. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-8">
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-xl-6">

                    <div class="card cc-card">
                        <div class="card-header cc-card-value-grid-text">
                            <div class="p-d-flex">
                                <div class="p-d-flex">
                                    <div class="p-mr-1">
                                        <img class="header-icon" [src]="'assets/icons/high-voltage.png'" alt="icon">
                                    </div>
                                    <div class="p-mr-1">
                                        <div class="p-d-flex p-flex-column">
                                            <div class="p-mb-1 p-mr-1">
                                                <h4>Power of MDB</h4>
                                            </div>
                                            <div class="p-mb-1 p-mr-1">
                                                <p>กำลังงานไฟฟ้า</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="p-grid cc-card-content cc-card-value-grid-text">
                            <div class="p-col-6 p-md-6 p-xl-6">
                                <div class="p-text-center">
                                    <p class="gray">Power Factor : PF</p>
                                </div>
                                <div class="p-text-center">
                                    <h3>0.9pA</h3>
                                    <!-- <p>V<sub>AB</sub></p> -->
                                </div>
                            </div>
                            <div class="p-col-6 p-md-6 p-xl-6">
                                <div class="p-text-center">
                                    <p class="gray">Frequency</p>
                                </div>
                                <div class="p-text-center">
                                    <h3>49.9Hz</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card cc-card">
                        <div class="card-header cc-card-value-grid-text">
                            <div class="p-d-flex">
                                <div class="p-d-flex">
                                    <div class="p-mr-1">
                                        <img class="header-icon" [src]="'assets/icons/ammeter.png'" alt="icon">
                                    </div>
                                    <div class="p-mr-1">
                                        <div class="p-d-flex p-flex-column">
                                            <div class="p-mb-1 p-mr-1">
                                                <h4>Voltage</h4>
                                            </div>
                                            <div class="p-mb-1 p-mr-1">
                                                <p>แรงดันไฟฟ้า</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="p-grid cc-card-content cc-card-value-grid-text">
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-text-center">
                                    <h4 class="normal-blue">380.1V</h4>
                                </div>
                                <div class="p-text-center">
                                    <p>V<sub>AB</sub></p>
                                </div>
                            </div>
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-text-center">
                                    <h4 class="normal-blue">380.2V</h4>
                                </div>
                                <div class="p-text-center">
                                    <p>V<sub>AC</sub></p>
                                </div>
                            </div>
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-text-center">
                                    <h4 class="normal-blue">381.0V</h4>
                                </div>
                                <div class="p-text-center">
                                    <p>V<sub>BC</sub></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="p-grid cc-card-content cc-card-value-grid-text">
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-text-center">
                                    <h4 class="normal-light-blue">221.0V</h4>
                                </div>
                                <div class="p-text-center">
                                    <p>V<sub>A-L</sub></p>
                                </div>
                            </div>
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-text-center">
                                    <h4 class="normal-light-blue">220.0V</h4>
                                </div>
                                <div class="p-text-center">
                                    <p>V<sub>B-L</sub></p>
                                </div>
                            </div>
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-text-center">
                                    <h4 class="normal-light-blue">219.8V</h4>
                                </div>
                                <div class="p-text-center">
                                    <p>V<sub>C-L</sub></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Section Voltage -->

                    <div class="card cc-card">
                        <div class="card-header cc-card-value-grid-text">
                            <div class="p-d-flex">
                                <div class="p-d-flex">
                                    <div class="p-mr-1">
                                        <img class="header-icon" [src]="'assets/icons/electric-current.png'" alt="icon">
                                    </div>
                                    <div class="p-mr-1">
                                        <div class="p-d-flex p-flex-column">
                                            <div class="p-mb-1 p-mr-1">
                                                <h4>Electric Current</h4>
                                            </div>
                                            <div class="p-mb-1 p-mr-1">
                                                <p>กระแสไฟฟ้า</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="p-grid cc-card-content cc-card-value-grid-text">
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-text-center">
                                    <h4 class="normal-yellow">9.9A</h4>
                                </div>
                                <div class="p-text-center">
                                    <p>CurrentA</p>
                                </div>
                            </div>
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-text-center">
                                    <h4 class="normal-yellow">10.3A</h4>
                                </div>
                                <div class="p-text-center">
                                    <p>CurrentB</p>
                                </div>
                            </div>
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-text-center">
                                    <h4 class="normal-yellow">10.1A</h4>
                                </div>
                                <div class="p-text-center">
                                    <p>CurrentC</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="p-grid cc-card-content cc-card-value-grid-text img-single-center">
                            <div class="p-col-12  p-md-12 p-xl-12">
                                <div class="p-d-flex p-jc-center">
                                    <div class="p-d-flex">
                                        <div class="p-mr-2">
                                            <h4 class="green">Stable</h4>
                                        </div>
                                        <div class="p-mr-2">
                                            <img [src]="'assets/icons/line-chart-balance.png'" alt="icon">
                                        </div>
                                    </div>
                                </div>
                                <div class="p-text-center cc-card-value-grid-text">
                                    <p>Neutral Current Balance</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-xl-6">
                    <div class="card cc-card">
                        <div class="card-header cc-card-value-grid-text">
                            <div class="p-d-flex">
                                <div class="p-d-flex">
                                    <div class="p-mr-1">
                                        <img class="header-icon" [src]="'assets/icons/sine.png'" alt="icon">
                                    </div>
                                    <div class="p-mr-1">
                                        <div class="p-d-flex p-flex-column">
                                            <div class="p-mb-1 p-mr-1">
                                                <h4>Harmonic Current</h4>
                                            </div>
                                            <div class="p-mb-1 p-mr-1">
                                                <p>กระแสฮาร์มอนิก</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="p-grid cc-card-content cc-card-value-grid-text img-grid-center">
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-d-flex p-jc-center">
                                    <div class="p-d-flex">
                                        <div class="p-mr-4">
                                            <div class="div-bar">
                                                <div class="div-bar-percentage green" style="height: 10%;"></div>
                                            </div>
                                        </div>
                                        <div class="p-mr-2">
                                            <div class="p-d-flex p-flex-column">
                                                <div>
                                                    <img [src]="'assets/icons/wave-chart-green.png'" alt="icon">
                                                </div>
                                                <div class="p-mb-2 p-text-center">
                                                    <h4 class="green">10%</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="p-text-center">
                                    <p>THD V<sub>A</sub></p>
                                </div>
                            </div>
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-d-flex p-jc-center">
                                    <div class="p-d-flex">
                                        <div class="p-mr-4">
                                            <div class="div-bar">
                                                <div class="div-bar-percentage green" style="height: 15%;"></div>
                                            </div>
                                        </div>
                                        <div class="p-mr-2">
                                            <div class="p-d-flex p-flex-column">
                                                <div>
                                                    <img [src]="'assets/icons/wave-chart-green.png'" alt="icon">
                                                </div>
                                                <div class="p-mb-2 p-text-center">
                                                    <h4 class="green">15%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-text-center">
                                    <p>THD V<sub>B</sub></p>
                                </div>
                            </div>
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-d-flex p-jc-center">
                                    <div class="p-d-flex">
                                        <div class="p-mr-4">
                                            <div class="div-bar">
                                                <div class="div-bar-percentage yellow" style="height: 28%;"></div>
                                            </div>
                                        </div>
                                        <div class="p-mr-2">
                                            <div class="p-d-flex p-flex-column">
                                                <div>
                                                    <img [src]="'assets/icons/wave-chart-yellow.png'" alt="icon">
                                                </div>
                                                <div class="p-mb-2 p-text-center">
                                                    <h4 class="normal-yellow">28%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-text-center">
                                    <p>THD V<sub>C</sub></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="p-grid cc-card-content cc-card-value-grid-text img-grid-center">
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-d-flex p-jc-center">
                                    <div class="p-d-flex">
                                        <div class="p-mr-4">
                                            <div class="div-bar">
                                                <div class="div-bar-percentage red" style="height: 52%;"></div>
                                            </div>
                                        </div>
                                        <div class="p-mr-2">
                                            <div class="p-d-flex p-flex-column">
                                                <div>
                                                    <img [src]="'assets/icons/wave-chart-red.png'" alt="icon">
                                                </div>
                                                <div class="p-mb-2 p-text-center">
                                                    <h4 class="red">52%</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="p-text-center">
                                    <p>THD I<sub>A</sub></p>
                                </div>
                            </div>
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-d-flex p-jc-center">
                                    <div class="p-d-flex">
                                        <div class="p-mr-4">
                                            <div class="div-bar">
                                                <div class="div-bar-percentage green" style="height: 5%;"></div>
                                            </div>
                                        </div>
                                        <div class="p-mr-2">
                                            <div class="p-d-flex p-flex-column">
                                                <div>
                                                    <img [src]="'assets/icons/wave-chart-green.png'" alt="icon">
                                                </div>
                                                <div class="p-mb-2 p-text-center">
                                                    <h4 class="green">5%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-text-center">
                                    <p>THD I<sub>B</sub></p>
                                </div>
                            </div>
                            <div class="p-col-4 p-md-4 p-xl-4">
                                <div class="p-d-flex p-jc-center">
                                    <div class="p-d-flex">
                                        <div class="p-mr-4">
                                            <div class="div-bar">
                                                <div class="div-bar-percentage green" style="height: 1%;"></div>
                                            </div>
                                        </div>
                                        <div class="p-mr-2">
                                            <div class="p-d-flex p-flex-column">
                                                <div>
                                                    <img [src]="'assets/icons/wave-chart-green.png'" alt="icon">
                                                </div>
                                                <div class="p-mb-2 p-text-center">
                                                    <h4 class="green">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-text-center">
                                    <p>THD I<sub>C</sub></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Widget Grid -->
                    <div class="p-grid">
                        <div class="p-col-6 p-md-6 p-xl-6">
                            <div class="card cc-card">
                                <div class="p-grid cc-card-content cc-card-single-value">
                                    <div class="p-col-7 p-md-7 p-xl-7 p-text-right">
                                        <h4>30°C</h4>
                                        <p>Temperature</p>
                                    </div>
                                    <div class="p-col-5 p-md-5 p-xl-5">
                                        <img [src]="'assets/icons/weather.png'" alt="icon">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-col-6 p-md-6 p-xl-6">
                            <div class="card cc-card">
                                <div class="p-grid cc-card-content cc-card-single-value">
                                    <div class="p-col-7 p-md-7 p-xl-7 p-text-right">
                                        <h4>32%RH</h4>
                                        <p>Humidity</p>
                                    </div>
                                    <div class="p-col-5 p-md-5 p-xl-5">
                                        <img [src]="'assets/icons/humidity.png'" alt="icon">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-col-6 p-md-6 p-xl-6">
                            <div class="card cc-card">
                                <div class="p-grid cc-card-content cc-card-single-value">
                                    <div class="p-col-7 p-md-7 p-xl-7 p-text-right">
                                        <h4>Normal</h4>
                                        <p>Smoke Detect</p>
                                    </div>
                                    <div class="p-col-5 p-md-5 p-xl-5">
                                        <img [src]="'assets/icons/bonfire.png'" alt="icon">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-col-6 p-md-6 p-xl-6">
                            <div class="card cc-card">
                                <div class="p-grid cc-card-content cc-card-single-value">
                                    <div class="p-col-7 p-md-7 p-xl-7 p-text-right">
                                        <h4>Close</h4>
                                        <p>Door Sensor</p>
                                    </div>
                                    <div class="p-col-5 p-md-5 p-xl-5">
                                        <img [src]="'assets/icons/smart-door.png'" alt="icon">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END Widget Grid -->
                </div>


            </div>

        </div>

        <div class="p-col-12 p-md-12 p-xl-4">
            <div class="card cc-card">
                <div class="card-header">
                    <h6>MDB1 3D Model Viwer</h6>
                </div>
                <div class="p-grid cc-card-content">
                    <div class="p-col-12 p-md-12 p-xl-12">
                        <div class="p-text-center">
                            <model-viewer src="assets/cocoa/MDB_gltf/mdb_test.gltf" loading="lazy" camera-controls>
                            </model-viewer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
