
model-viewer {
    width: 100%;
    min-height: 400px;
}

@media screen and (max-width: 576px) {
    .xsm-12 {
     
      width: 100%;

    }
    .img-xsm{
        max-width: 100%;
        height: auto;
    }
    
    
}