<div class="layout-dashboard">
    <div class="p-grid">

        <div class="slideshow ">
            <app-overview></app-overview>
            <app-notification></app-notification>
            <app-device></app-device>
            <app-power></app-power>
            <app-energy></app-energy>
            <app-mdb></app-mdb>
        
        </div>
    
        <div class="slideshow2 ">
            <app-overview></app-overview>
            <app-notification></app-notification>
            <app-device></app-device>
            <app-power></app-power>
            <app-energy></app-energy>
            <app-mdb></app-mdb>
        
        </div>

    </div>
    

</div>

    





