<div class="layout-dashboard">
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-12">
            <div class="card">
                <div class="p-grid">
                    <div class="p-col-12 p-md-12 p-xl-7">
                        <img [src]="'assets/pictures/asefa-map.png'" alt="layout" style=" width: 100%; height: auto;">
                    </div>
                    <div class="p-col-12 p-md-12 p-xl-5 cc-outer-center-vertical">
                        <div class="cc-center-vertical">
                            <h2 style=" color: #1b74c5;">ASEFA PUBLIC COMPANY LIMITED</h2>
                            <p>5 Moo1 Rama II Road, Khok-krabue, Mueang Samutsakhon,
                                Samutsakhon 74000 Thailand</p>

                            <blockquote>
                                <p><b>Tel</b> : (66)2-686-7777</p>
                                <p><b>Fax</b> : (66)2-686-7788</p>
                            </blockquote>

                            <p><b>E-mail</b> : customercare@asefa.co.th</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
