<div class="p-grid" style="padding-top: 1rem;">

    <ng-template ngFor let-item [ngForOf]="sensorCO2DataList">
        <div class="p-col-12 p-md-12 p-xl-6"
            *ngIf="(selectionViewType == 'single' || (item.chartShow && componentType == 'dashboard'))">
            <div class="card cc-card"
                [ngClass]="{'temp-type':item.type == 'temp','humidity-type':item.type == 'humidity','co2-type':item.type == 'co2'}">
                <div class="card-header">
                    <h6>{{item.name}}</h6>
                </div>

                <div class="p-d-flex p-jc-between cc-card-content">
                    <div>
                        <h6 class="p-d-sm-inline" *ngIf="item.zoneName">Zone Name: </h6>
                        <span *ngIf="item.zoneName">{{item.zoneName}}</span>
                        <!-- Change By Sensor Type -->
                        <h6 *ngIf="item.tempName || item.humidityName">Sensor Near by: </h6>
                        <span class="p-d-block p-text-nowrap" *ngIf="item.tempName">-
                            {{item.tempName}}</span>
                        <span class="p-d-block p-text-nowrap" *ngIf="item.humidityName">- {{item.humidityName}}</span>
                    </div>
                    <div>
                        <h6 class="p-text-right">Current CO<sub>2</sub></h6>
                        <h1 class="p-text-right">{{item.dataCurrent}}ppm</h1>
                    </div>
                </div>


                <div class="p-grid">
                    <div class="p-col-12">
                        <div class="cc-card-chart">
                            <!-- Chart  -->
                            <p-dataView #dv [value]="item.check" filterBy="name" layout="grid"
                                emptyMessage="No Data Found.">
                                <ng-template pTemplate="header">

                                    <div class="p-d-flex p-jc-between">
                                        <!-- Gird and List -->
                                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>

                                        <!-- Dropdown Menu Date -->
                                        <p-dropdown [options]="dateLists" [(ngModel)]="selectedDateCode"
                                            optionLabel="date" optionValue="code" placeholder="Range Time"
                                            styleClass="p-mb-2 p-mb-md-0">
                                        </p-dropdown>
                                    </div>
                                </ng-template>

                                <!-- Gird View -->
                                <ng-template pTemplate="gridItem">
                                    <div class="p-col-12">
                                        <p-chart #goal type="line" [data]="item.chartData"
                                            [options]="optionsLineChartCO2" [responsive]="true">
                                        </p-chart>
                                    </div>
                                </ng-template>

                                <!-- List View -->
                                <ng-template pTemplate="listItem">
                                    <div class="p-col-12">
                                        <p-chart #goal type="line" [data]="item.chartCO2Temp" *ngIf="item.tempID"
                                            [options]="optionsLineChartCO2Temp" [responsive]="true">
                                        </p-chart>
                                        <p-chart #goal type="line" [data]="item.chartCO2Humidity"
                                            *ngIf="item.humidityID" [options]="optionsLineChartCO2Humidity"
                                            [responsive]="true">
                                        </p-chart>
                                        <h6 *ngIf="!item.tempID && !item.humidityID" class="p-text-center">No Comparing
                                            Data.</h6>
                                    </div>
                                </ng-template>
                            </p-dataView>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ng-template>

</div>
