@media screen and (max-width: 576px) {
    .xsm-12 {

        width: 100%;

    }

    .img-xsm {
        max-width: 100%;
        height: auto;
    }


}
#costBar1 .p-progressbar {
    background: green;
}

#costBar2 .p-progressbar {
    background: green;
}

#costBar3 .p-progressbar {
    background: green;
}





.p-padding {
    padding-top: 0rem;
}

.no-padding{
    padding-left: unset;
    padding-right: unset;
}

.no-padding-all{
    padding-left: unset;
    padding-right: unset;
    padding-top: unset;
    padding-bottom: unset;
}

.heading1{
    font-size: 1.1rem;

}
.titel-front{
    font-size: 1.3rem;

}
.heading2{
    font-size: 0.9rem;

}
.heading3{
    font-size: 2.3rem;

}
.heading4{
    font-size: 3.6rem;
}
.heading5{
    font-size: 2rem;
}
.normal{
    font-size: 1.2rem;
}
.normal-green{
    color: green;
}

.align-online{
    display:flex;    
  align-items:flex-end;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
  
}







@media only screen and (min-width: 1800px) {
    .heading0{
        font-size: 0.9rem;
    }
    .heading1{
        font-size: 1.3rem;
    
    }
    .heading2{
        font-size: 1.5rem;
    
    }
    .heading3{
        font-size: 2.5rem;
    
    }
    .heading4{
        font-size: 2.6rem;
    }

    .bold-font-status{
        font-weight: bold;
        font-size: 1.7rem;
    }

    .status-temp{
        padding-left: 17%

    }
    
    .status-c{
        padding-left: 98%;padding-top: 9%;
    }
    
    .status-hum{
        padding-left: 51%;
    }
    
    .status-rh{
        padding-left: 98%;padding-top: 9%;
    }

  
  
    

    
  }

  @media only screen and (min-width: 1200px)and(max-width:1400px) {
    .heading1{
        font-size: 1rem;
    
    }
    .heading2{
        font-size: 0.9rem;
    
    }
    .heading3{
        font-size: 1.4rem;
    
    }
    .heading4{
        font-size: 3.0rem;
    }
  }
