<div class="p-grid">
    <div class="p-col-12 p-md-12 p-xl-6 p-as-center">
        <div class="card cc-card ">
            <div class="card-header">
                <h6>Communication Devices</h6>
            </div>

            <div class="p-grid cc-card-content  ">
                <div class="p-col-12 p-md-5 p-lg-5">
                    <!-- variable here -->
                    <p-chart #chartDevicesDoughnutComChart type="doughnut" [data]="devicesDoughnutComChart" [options]="" height="100%">
                    </p-chart>
                </div>
                <div class="p-col-12 p-md-7 p-lg-7">
                    <div class="tasks">

                        <div>
                            <div class="task ">
                                <div class="task-info">
                                    <!-- variable here -->
                                    <div class="task-name"><span>{{comOnlineDevice}}</span> Devices Online
                                    </div>
                                    <i class="pi pi-wifi"></i>
                                </div>
                                <div class="task-progress">
                                    <!-- <div style="width: 32%; background-color: rgb(146 206 127);"></div> -->
                                    <p-progressBar class="customProgress" [value]="percentOnlineDevice" [style]="{'height': '5px'}"></p-progressBar>
                                </div>
                            </div>

                            <div class="task ">
                                <div class="task-info">
                                    <!-- variable here -->
                                    <div class="task-name"><span>{{comOfflineDevice}}</span> Devices Offline
                                    </div>
                                    <i class="pi pi-info-circle"></i>
                                </div>
                                <div class="task-progress">
                                    <!-- <div style="width: 16%; background-color: rgb(239 141 141)"></div> -->
                                    <p-progressBar [value]="percentOfflineDevice" [style]="{'height': '5px'}"></p-progressBar>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-12 p-xl-6">
        <div class="card cc-card">
            <div class="card-header">
                <h6>Communication Devices History</h6>
            </div>

            <div class="p-grid cc-card-content">
                <div class="p-col-12 p-md-12 p-lg-12">
                    <p-chart type="bar" [data]="comDevicesHistoryChart" [options]=""></p-chart>
                </div>
            </div>
        </div>
    </div>
    
</div>
