.device-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    // &.status-qualified {
    //     background: #C8E6C9;
    //     color: #256029;
    // }

    // &.status-unqualified {
    //     background: #FFCDD2;
    //     color: #C63737;
    // }

    // &.status-negotiation {
    //     background: #FEEDAF;
    //     color: #8A5340;
    // }

    // &.status-new {
    //     background: #B3E5FC;
    //     color: #23547B;
    // }

    // &.status-renewal {
    //     background: #ECCFFF;
    //     color: #694382;
    // }

    // &.status-proposal {
    //     background: #FFD8B2;
    //     color: #805B36;
    // }

    &.status-online {
        background: #73deb7;
        color: #08754d;
    }

    &.status-offline {
        background: #ffaabc;
        color: #9e3047;
    }

    &.status-notinit {
        background: #fbe4ae;
        color: #a57b1a;
    }
}
