<div class="p-grid">
    <div class="p-col-12 p-md-12 p-xl-6 p-as-center">
        <div class="card cc-card ">
            <div class="card-header">
                <h6>Communication Devices</h6>
            </div>

            <div class="p-grid cc-card-content  ">
                <div class="p-col-12 p-md-5 p-lg-5">
                    <p-chart type="doughnut" [data]="pieData" [options]="chartsOptions2" height="100%"></p-chart>
                </div>

                <div class="p-col-12 p-md-7 p-lg-7">
                    <div class="tasks">
                        <!-- <div class="card-header">
                            <h6>Tasks</h6>
                        </div> -->
                        <div>
                            <div class="task ">
                                <div class="task-info">
                                    <div class="task-name"><span>540</span> Devices Online</div>
                                    <i class="pi pi-wifi"></i>
                                </div>
                                <div class="task-progress">
                                    <div style="width: 32%; background-color: rgb(146 206 127);"></div>
                                </div>
                            </div>

                            <div class="task ">
                                <div class="task-info">
                                    <div class="task-name"><span>325</span> Devices Offline</div>
                                    <i class="pi pi-info-circle"></i>
                                </div>
                                <div class="task-progress">
                                    <div style="width: 16%; background-color: rgb(239 141 141)"></div>
                                </div>
                            </div>

                            <div class="task ">
                                <div class="task-info">
                                    <div class="task-name"><span>702</span> Devices Not Initialized</div>
                                    <i class="pi pi-question-circle"></i>
                                </div>
                                <div class="task-progress">
                                    <div style="width: 62%; background-color: rgb(239 222 141)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-12 p-xl-6">
        <div class="card cc-card">
            <div class="card-header">
                <h6>Communication Devices History</h6>
            </div>

            <div class="p-grid cc-card-content">
                <div class="p-col-12 p-md-12 p-lg-12">
                    <p-chart type="bar" [data]="barData" [options]="chartsOptions"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>
