<div class="layout-dashboard">
    <!-- **********1******************************* -->
    <div class="p-grid">

        <div class="p-col-12 p-md-12 p-xl-6 p-as-center">
            <div class="card cc-card ">
                <div class="card-header">
                    <h6>PEA</h6>
                </div>
                <p-tabView>
                    <p-tabPanel header="today">

                    </p-tabPanel>
                    <p-tabPanel header="this week">

                    </p-tabPanel>
                    <p-tabPanel header="this month">

                    </p-tabPanel>
                </p-tabView>

                <div class="p-grid cc-card-content  ">
                    <div class="p-col-12 p-md-7 p-lg-12" style="padding-top: 0rem;">
                        <div class="tasks">
                            <div>

                                <div class="task">
                                    <div class="task-info">
                                        <div class="task-name"> MDB 1</div>
                                        <!-- variable here -->
                                        <span>{{pea1}} kw-hr</span>
                                    </div>
                                    <div class="task-progress">
                                        <!-- variable here -->
                                        <p-progressBar [value]="pea1Percent" [style]="{'height': '20px'}"></p-progressBar>
                                    </div>
                                </div>


                                <div class="task ">
                                    <div class="task-info">
                                        <div class="task-name"> MDB 2</div>
                                        <!-- variable here -->
                                        <span>{{pea2}} kw-hr</span>
                                    </div>
                                    <div class="task-progress">
                                        <!-- variable here -->
                                        <p-progressBar [value]="pea2Percent" [style]="{'height': '20px'}"></p-progressBar>
                                        <!-- <div style="width: 16%; background-color: rgb(239 141 141)"></div> -->
                                    </div>
                                </div>

                                <div class="task ">
                                    <div class="task-info">
                                        <div class="task-name"> MDB 3</div>
                                        <!-- variable here -->
                                        <span>{{pea3}} kw-hr</span>
                                    </div>
                                    <div class="task-progress">
                                        <!-- variable here -->
                                        <p-progressBar [value]="pea3Percent" [style]="{'height': '20px'}"></p-progressBar>
                                    </div>
                                </div>

                                <div class="task ">
                                    <div class="task-info">
                                        <div class="task-name"> MDB 4</div>
                                        <!-- variable here -->
                                        <span>{{pea4}} kw-hr</span>
                                    </div>
                                    <div class="task-progress">
                                        <!-- variable here -->
                                        <p-progressBar [value]="pea4Percent" [style]="{'height': '20px'}"></p-progressBar>
                                    </div>
                                </div>


                                <div class="task ">
                                    <div class="task-info">
                                        <div class="task-name"> MDB 5</div>
                                        <!-- variable here -->
                                        <span>{{pea5}} kw-hr</span>
                                    </div>
                                    <div class="task-progress">
                                        <!-- variable here -->
                                        <p-progressBar [value]="pea5Percent" [style]="{'height': '20px'}"></p-progressBar>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /////////////////////////////////////////////////////////// -->
        <div class="p-col-12 p-md-12 p-xl-6">
            <div class="p-grid p-flex-column">

                <div class="p-col-12 p-md-12 p-xl-12">
                    <div class="card cc-card">
                        <div class="card-header">
                            <h6>Energy All</h6>
                        </div>

                        <div class="p-grid cc-card-content cc-card-value-grid-text img-single-center">
                            <div class="p-col-12  p-md-12 p-xl-12">
                                <div class="p-d-flex p-jc-center">
                                    <div class="p-d-flex">
                                        <div class="p-mr-2">
                                            <!-- variable here -->
                                            <h5 class="normal-blue">{{allEnergy}} kW-hr</h5>
                                        </div>

                                    </div>
                                </div>
                                <div class="p-text-center cc-card-value-grid-text">
                                    <p>Energy Usage on site today.</p>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
                <div class="p-col-12 p-md-12 p-xl-12">
                    <div class="card cc-card ">
                        <div class="card-header">
                            <h6>Solor Cell</h6>
                        </div>
                        <p-tabView>
                            <p-tabPanel header="today">

                            </p-tabPanel>
                            <p-tabPanel header="this week">

                            </p-tabPanel>
                            <p-tabPanel header="this month">

                            </p-tabPanel>
                        </p-tabView>

                        <div class="p-grid cc-card-content  ">
                            <div class="p-col-12 p-md-7 p-lg-12">
                                <div class="tasks">
                                    <div>

                                        <div class="task">
                                            <div class="task-info">
                                                <div class="task-name"> solor cell 1</div>
                                                <!-- variable here -->
                                                <span>{{solar1}} kw-hr</span>
                                            </div>
                                            <div class="task-progress">
                                                <!-- variable here -->
                                                <p-progressBar [value]="solar1Percent" [style]="{'height': '20px'}"></p-progressBar>
                                            </div>
                                        </div>


                                        <div class="task ">
                                            <div class="task-info">
                                                <div class="task-name"> solor cell 2</div>
                                                <!-- variable here -->
                                                <span>{{solar2}} kw-hr</span>
                                            </div>
                                            <div class="task-progress">
                                                <!-- variable here -->
                                                <p-progressBar [value]="solar2Percent" [style]="{'height': '20px'}"></p-progressBar>

                                            </div>
                                        </div>

                                        <div class="task ">
                                            <div class="task-info">
                                                <div class="task-name"> solor cell 3</div>
                                                <!-- variable here -->
                                                <span>{{solar3}} kw-hr</span>
                                            </div>
                                            <div class="task-progress">
                                                <!-- variable here -->
                                                <p-progressBar [value]="solar3Percent" [style]="{'height': '20px'}"></p-progressBar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>







    </div>
    <!-- **********2*******graph************************ -->
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-4 p-as-center">

            <div class="card cc-card">
                <div class="card-header ">
                    <h6>PEA and Solar Cell</h6>
                </div>

                <div class="p-grid cc-card-content cc-card-value-grid-text img-single-center">
                    <div class="p-col-12  p-md-12 p-xl-12">
                        <div class="p-d-flex p-jc-center">
                            <div class="p-d-flex">
                                <div class="p-mr-2">
                                    <!-- variable here -->
                                    <h4 class="normal-blue">{{energyUsageToday}} Kw-hr</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="p-grid cc-card-content cc-card-value-grid-text">
                    <div class="p-col-6 p-md-6 p-xl-6 borderline-right">
                        <div class="p-text-center">
                            <!-- variable here -->
                            <h5 class="normal-blue">{{pea}}</h5>
                        </div>
                        <div class="p-text-center">
                            <p>PEA</p>
                        </div>
                    </div>

                    <div class="p-col-6 p-md-6 p-xl-6">
                        <div class="p-text-center">
                            <!-- variable here -->
                            <h5 class="normal-yellow">{{solar}}</h5>
                        </div>
                        <div class="p-text-center">
                            <p>Solar Cell</p>
                        </div>
                    </div>
                </div>

                <hr style="margin: 0 0 1rem 0;">

                <div class="p-grid cc-card-content cc-card-value-grid-text">
                    <div class="p-col-12 p-md-12 p-xl-12">
                        <!-- variable here -->
                        <p-chart #chartPEAandSolarDonutChart type="doughnut" [responsive]="true" [data]="PEAandSolarDonutChart"
                            [options]=""></p-chart>

                    </div>
                </div>

            </div>



        </div>
        <!-- /////////////////////////////////////// -->
        <div class="p-col-12 p-md-12 p-xl-8">
            <div class="card cc-card">
                <div class="card-header">
                    <h6> PEA and Solar Usage Today</h6>
                </div>

                <div class="p-grid cc-card-content">
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <!-- variable here -->
                        <p-chart #chartsumPEAandSolar24hrChart  type="bar" [data]="sumPEAandSolar24hrChart" [options]=""></p-chart>
                    </div>
                </div>
            </div>

        </div>



    </div>


    <!-- **********3******************************* solar cell-->
    <div class="p-grid">

        <div class="p-col-12 p-md-12 p-xl-4 p-as-center">

            <div class="card cc-card">
                <div class="card-header ">
                    <h6>Solar Cell</h6>
                </div>

                <div class="p-grid cc-card-content cc-card-value-grid-text img-single-center">
                    <div class="p-col-12  p-md-12 p-xl-12">
                        <div class="p-d-flex p-jc-center">
                            <div class="p-d-flex">
                                <div class="p-mr-2">
                                    <!-- variable here -->
                                    <h5 class="normal-blue">{{solarEnergyUsageToday}} kW-hr</h5>
                                </div>

                            </div>
                        </div>
                        <div class="p-text-center cc-card-value-grid-text">
                            <p>Inverter Usage on site today.</p>
                        </div>
                    </div>
                </div>

                <hr>


                <div class="p-grid cc-card-content cc-card-value-grid-text">
                    <div class="p-col-4 p-md-4 p-xl-4 borderline-right">
                        <div class="p-text-center">
                            <!-- variable here -->
                            <h5 class="normal-yellow">{{solar1}}</h5>
                        </div>
                        <div class="p-text-center">
                            <p>Solar1</p>
                        </div>
                    </div>
                    <div class="p-col-4 p-md-4 p-xl-4 borderline-right">
                        <div class="p-text-center">
                            <!-- variable here -->
                            <h5 class="normal-yellow">{{solar2}}</h5>
                        </div>
                        <div class="p-text-center">
                            <p>Solar2</p>
                        </div>
                    </div>
                    <div class="p-col-4 p-md-4 p-xl-4">
                        <div class="p-text-center">
                            <!-- variable here -->
                            <h5 class="normal-yellow">{{solar3}} </h5>
                        </div>
                        <div class="p-text-center">
                            <p>Solar3</p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="p-grid cc-card-content cc-card-value-grid-text">
                    <div class="p-col-12 p-md-12 p-xl-12">
                        <!-- variable here -->
                        <p-chart #chartsolarDonutChart  type="doughnut" [responsive]="true" [data]="solarDonutChart"
                            [options]=""></p-chart>
                    </div>
                </div>

            </div>


        </div>
        <!-- /////////////////////////////////////// -->
        <div class="p-col-12 p-md-12 p-xl-8">
            <div class="card cc-card">
                <div class="card-header">
                    <h6> Solar1-3 Usage (Today)</h6>
                </div>

                <div class="p-grid cc-card-content">
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <!-- variable here -->
                        <p-chart #chartsumSolar24hrChart   type="bar" [data]="sumSolar24hrChart" [options]=""></p-chart>
                    </div>
                </div>
            </div>

        </div>



    </div>

    <!-- **********3-1******************************* -->
    <div class="p-grid">

        <div class="p-col-12 p-md-12 p-xl-4 p-as-center">

            <div class="card cc-card">
                <div class="card-header ">
                    <h6>PEA</h6>
                </div>

                <div class="p-grid cc-card-content cc-card-value-grid-text img-single-center">
                    <div class="p-col-12  p-md-12 p-xl-12">
                        <div class="p-d-flex p-jc-center">
                            <div class="p-d-flex">
                                <div class="p-mr-2">
                                    <!-- variable here -->
                                    <h5 class="normal-blue">{{peaEnergyUsageToday}} kW-hr</h5>
                                </div>

                            </div>
                        </div>
                        <div class="p-text-center cc-card-value-grid-text">
                            <p>PEA Usage on site today.</p>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="p-grid cc-card-content cc-card-value-grid-text">
                    <div class="p-col-4 p-md-4 p-xl-4 borderline-right">
                        <div class="p-text-center">
                            <!-- variable here -->
                            <h5 class="normal-yellow">{{pea1}} </h5>
                        </div>
                        <div class="p-text-center">
                            <p>MDB01</p>
                        </div>
                    </div>
                    <div class="p-col-4 p-md-4 p-xl-4 borderline-right">
                        <div class="p-text-center">
                            <!-- variable here -->
                            <h5 class="normal-yellow">{{pea2}} </h5>
                        </div>
                        <div class="p-text-center">
                            <p>MDB02</p>
                        </div>
                    </div>
                    <div class="p-col-4 p-md-4 p-xl-4">
                        <div class="p-text-center">
                            <!-- variable here -->
                            <h5 class="normal-yellow">{{pea3}} </h5>
                        </div>
                        <div class="p-text-center">
                            <p>MDB03</p>
                        </div>
                    </div>
                    <div class="p-col-4 p-md-4 p-xl-4 borderline-right">
                        <div class="p-text-center">
                            <!-- variable here -->
                            <h5 class="normal-yellow">{{pea4}} </h5>
                        </div>
                        <div class="p-text-center">
                            <p>MDB04</p>
                        </div>
                    </div>
                    <div class="p-col-4 p-md-4 p-xl-4 borderline-right">
                        <div class="p-text-center">
                            <!-- variable here -->
                            <h5 class="normal-yellow">{{pea5}} </h5>
                        </div>
                        <div class="p-text-center">
                            <p>MDB05</p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="p-grid cc-card-content cc-card-value-grid-text">
                    <div class="p-col-12 p-md-12 p-xl-12">
                        <!-- variable here -->
                        <p-chart #chartpeaDonutChart type="doughnut" [responsive]="true" [data]="peaDonutChart"
                            [options]=""></p-chart>
                    </div>
                </div>
            </div>



        </div>
        <!-- /////////////////////////////////////// -->
        <div class="p-col-12 p-md-12 p-xl-8 p-as-center">
            <div class="card cc-card">
                <div class="card-header">
                    <h6> PEA1-5 Usage (Today)</h6>
                </div>

                <div class="p-grid cc-card-content">
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <!-- variable here -->
                        <p-chart #chartsumPEA24hrChart type="bar" [data]="sumPEA24hrChart" [options]=""></p-chart>
                    </div>
                </div>
            </div>

        </div>



    </div>



    <!-- **********4******************************* -->
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-12 ">

            <div class="card cc-card">
                <div class="card-header">
                    <h6> Energy All</h6>
                </div>

                <div class="p-grid cc-card-content">
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <!-- variable here -->
                        <p-chart type="bar" [data]="energyAllChart" [options]=""></p-chart>
                    </div>
                </div>

            </div>

        </div>

    </div>




</div>
